.c-card{
    
    width: 300px;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid grey;

    // box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

    @include box-shadow(1);

    &__img{
        width: 100%;
    }


    &__button{
        text-decoration: none;
        color: white;
        background-color: #1034a6;
        padding: 12px;
        display: block;
        width: 100px;
        text-align: center;
        border-radius: 6px;
    }
    
}
