@mixin borderChanger($size,$type, $color) {
    border: $size $type $color;
}


@mixin box-shadow($color) {
    -webkit-box-shadow: 2px 10px 24px $color;
    -moz-box-shadow: 2px 10px 24px $color;
    box-shadow: 2px 10px 24px $color;
}