@mixin borderChanger($size,$type, $color) {
    border: $size $type $color;
}


@mixin box-shadow($profundidad) {
    -webkit-box-shadow:getProfundidad($profundidad);
    -moz-box-shadow: getProfundidad($profundidad);
    box-shadow: getProfundidad($profundidad);
}


