
@for $i from 1 to length($padding){
    $clave: $i - 1;
    $valor: nth($padding, $i);

    .g--padding-#{$clave}{
        padding: $valor;
    }

    .g--padding-right-#{$clave}{
        padding-right: $valor;
    }

    .g--padding-left-#{$clave}{
        padding-left: $valor;
    }

    .g--padding-top-#{$clave}{
        padding-top: $valor;
    }

    .g--padding-bottom-#{$clave}{
        padding-bottom: $valor;
    }

    .g--padding-horizontal-#{$clave}{
        padding-left: $valor;
        padding-right: $valor;
    }

    .g--padding-vertical-#{$clave}{
        padding-top: $valor;
        padding-bottom: $valor;
    }
}


